html {
    font-size: 12px;
}

h1, h2, p, span, ion-title {
    color: var(--ion-color-base);
}

.text-mont {
    font-family: "Display";
}

.text-display {
    font-family: "Display";
    font-weight: 800 !important;
}

.text-body {
    font-family: "Body";
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-medium {
    font-weight: 600;
}

.text-xs { font-size: 0.625rem; }  /* 10px */
.text-sm { font-size: 0.75rem; }   /* 12px */
.text-md { font-size: 0.875rem; }  /* 14px */
.text-base { font-size: 1rem; }    /* 16px */
.text-lg { font-size: 1.25rem; }   /* 20px */
.text-xl { font-size: 1.5625rem; } /* 25px */
.text-2xl { font-size: 1.9375rem; } /* 31px */
.text-3xl { font-size: 2.4375rem; } /* 39px */
.text-4xl { font-size: 3.0625rem; } /* 49px */
.text-5xl { font-size: 3.8125rem; } /* 61px */
.text-6xl { font-size: 4.75rem; }   /* 76px */
.text-7xl { font-size: 5.9375rem; } /* 95px */
.text-Xxl { font-size: 7.438rem; } 

.text-black { color: #5a690f; }
.text-white { color: rgba(255, 255, 255, 0.88); }

.shadow {
    text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}

.shadow-1 {
    text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.03);
}

.space-y {
	margin: 1.5em 0px;
}

.space-b {
	margin-bottom: 1.5em;
}

.space-t {
	margin-top: 1.5em;
}

