/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@font-face {
    font-family: "Display";
    src: url("@/assets/fonts/Montserrat.ttf") format("truetype");
}

@font-face {
    font-family: "Body";
    src: url("@/assets/fonts/ZillaSlab-Regular.ttf"), url("@/assets/fonts/ZillaSlab-Italic.ttf"), url("@/assets/fonts/ZillaSlab-Medium.ttf"), url("@/assets/fonts/ZillaSlab-Bold.ttf");
}


:root {
    --ion-background-color: #f5fafc;
    --ion-color-primary: #0097b2;
    --ion-color-secondary: #18375d;
    --ion-color-tertiary-1: #f06356;
    --ion-color-tertiary-2: #d6f056;
    --ion-color-tertiary-1-variant: #ff3131;
    --ion-color-tertiary-2-variant: #b7da09;

    
}

.ion-color-tertiary-1 {
	--ion-color-base: var(--ion-color-tertiary-1);
}
.ion-color-tertiary-1-variant {
    --ion-color-base: var(--ion-color-tertiary-1-variant);
}

.ion-color-tertiary-2 {
	--ion-color-base: var(--ion-color-tertiary-2);
}
.ion-color-tertiary-2-variant {
    --ion-color-base: var(--ion-color-tertiary-2-variant);
}


